@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
outline: none;
}

@media screen and (max-width: 600px){

    html, body {
        background-image: url('https://i.pinimg.com/originals/13/fc/59/13fc5913cef0185373aca14d4b6e3fb0.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(3px);
        width: 330px;
        min-height: 600px;
        padding: 30px;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.545);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.655);
        }
        
        h1 {
        color: #fff; 
        text-align: center;
        margin-bottom: 20px;
        }

        form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        label {
        color: white;
        font-weight: 600;
        text-align: center;
        margin-bottom: 7px;
        margin-top: 10px;
        }
        
        input {
        display: block;
        width: 230px;
        margin: 0 auto;
        border: none;
        background: white;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        }
        
        button {
        font-weight: 600;
        display: block;
        margin: 20px auto;
        padding: 3px 7px;
        border: none;
        border-radius: 5px;
        }
        
        .error-text {
        font-size: 13px;
        color: red;
        font-weight: 600;
        margin-bottom: 10px;
        }
}


@media screen and (min-width: 601px) and (max-width: 768px){

    html, body {
        background-image: url('https://wallpaperswide.com/download/planets-wallpaper-3840x3840.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(3px);
        width: 420px;
        min-height: 600px;
        padding: 30px;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.545);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.655);
        }
        
        h1 {
        color: #fff; 
        text-align: center;
        margin-bottom: 20px;
        }

        form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        label {
        color: white;
        font-weight: 600;
        text-align: center;
        margin-bottom: 7px;
        margin-top: 10px;
        }
        
        input {
        display: block;
        width: 250px;
        margin: 0 auto;
        border: none;
        background: white;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        }
        
        button {
        font-weight: 600;
        display: block;
        margin: 20px auto;
        padding: 3px 7px;
        border: none;
        border-radius: 5px;
        }
        
        .error-text {
        font-size: 13px;
        color: red;
        font-weight: 600;
        margin-bottom: 10px;
        }
}


@media screen and (min-width: 769px) and (max-width: 992px){

    html, body {
        background-image: url('https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg?cs=srgb&dl=pexels-vlad-alexandru-popa-1402787.jpg&fm=jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(3px);
        width: 500px;
        min-height: 600px;
        padding: 30px;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.545);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.655);
        }
        
        h1 {
        color: #fff; 
        text-align: center;
        margin-bottom: 20px;
        }

        form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        label {
        color: white;
        font-weight: 600;
        text-align: center;
        margin-bottom: 7px;
        margin-top: 10px;
        }
        
        input {
        display: block;
        width: 260px;
        margin: 0 auto;
        border: none;
        background: white;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        }
        
        button {
        font-weight: 600;
        display: block;
        margin: 20px auto;
        padding: 3px 7px;
        border: none;
        border-radius: 5px;
        }
        
        .error-text {
        font-size: 13px;
        color: red;
        font-weight: 600;
        margin-bottom: 10px;
        }
}


@media screen and (min-width: 993px) and (max-width: 1200px){

    html, body {
        background-image: url('https://wallpaperaccess.com/full/1429706.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(3px);
        width: 550px;
        min-height: 600px;
        padding: 30px;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.545);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.655);
        }
        
        h1 {
        color: #fff; 
        text-align: center;
        margin-bottom: 20px;
        }

        form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        label {
        color: white;
        font-weight: 600;
        text-align: center;
        margin-bottom: 7px;
        margin-top: 10px;
        }
        
        input {
        display: block;
        width: 300px;
        margin: 0 auto;
        border: none;
        background: white;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        }
        
        button {
        font-weight: 600;
        display: block;
        margin: 20px auto;
        padding: 3px 7px;
        border: none;
        border-radius: 5px;
        }
        
        .error-text {
        font-size: 13px;
        color: red;
        font-weight: 600;
        margin-bottom: 10px;
        }
}


@media screen and (min-width: 1200px){
    html, body {
        background-image: url('./imagens/trevo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
        section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(3px);
        width: 530px;
        min-height: 600px;
        padding: 30px;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.545);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.655);
        }
        
        h1 {
        color: #fff; 
        text-align: center;
        margin-bottom: 20px;
        }

        form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        label {
        color: white;
        font-weight: 600;
        text-align: center;
        margin-bottom: 7px;
        margin-top: 10px;
        }
        
        input {
        display: block;
        width: 310px;
        margin: 0 auto;
        border: none;
        background: white;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        }
        
        button {
        font-weight: 600;
        display: block;
        margin: 20px auto;
        padding: 5px 8px;
        border: none;
        border-radius: 5px;
        }
        
        .error-text {
        font-size: 13px;
        color: red;
        font-weight: 600;
        margin-bottom: 10px;
        }
}

